{% extends '@layout/default.html.twig' %}

{% block title %}Users{% endblock %}

{% block content %}

{{ dump() }}
<div class="row">
			<div class="col-sm-12  well">
	
				<div class="col-sm-5 form-column">
                                    <h2>Sign Up</h2>
					<form action="#" method="post" id="form" >

						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
						</div>
						<div class="form-group">
							<label for="name">Surname</label>
							<input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required>
						</div>

						<div class="form-group">
							<label for="email">Email</label>
                                                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input id="termsOfUse" type="checkbox" name="termsOfUse" required> Yes, I agree to terms of use.
                                                                </label>
							</div>
						</div>
						<input type="submit" value="Sign Up" class="btn btn-primary">
                                               <button type="button" class="btn btn-secondary" id="clear">Clear Form</button>
					</form>
				</div>
                                <div class="col-sm-7" id="data">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Surname</th>
                                          <th scope="col">Email</th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        {% for key, user in users %}
                                            <tr class="user">                                                    
                                            {% for key, profile in user %}                                                 
                                                {% if key == 'ID' %}
                                                 <th scope="row"> {{profile}}</th>                                                   
                                                {% else %}
                                                    {% if key == 'email' %}
                                                        <td>  {{profile|e}}</td>
                                                        {%else%}
                                                            <td class="text-capitalize">  {{profile|e}}</td>   
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}    
                                            </tr>
                                        {% endfor %}
                                     </tbody>
                                    </table>   
                                </div>                            
			</div>

   
{% endblock %}


{% block javascript %}
<script>
            $(document).ready(function() {
                
                
                $('#form').submit(function(e) {
                    e.preventDefault();
                    var collection = $('#data .user');
                    var  data = $('#form').serializeArray();
                    var html = '<tr class="user">'+'<th scope="row">' + ( ($('#data .user').length)+ 1) + '</th>';;
                    $.each(data, function(key, value) {                   
                        if( key <= 2){
                            if(key===2){
                                html += '<td>' + value.value + '</td>';
                            }else{
                                html += '<td class="text-capitalize">' + value.value + '</td>';
                            }                            
                        }
                    })
                    html += "</tr>";
                    $('#data tbody').append(html)

                    console.log($(collection))
                    var newCollection = $(collection).add(html)
                    console.log(newCollection);

                })
                
                $('#clear').click(function(e){
                         
                        $('#form').trigger("reset");
                })
                
                    
            });
</script>
{% endblock %}
